@using PRODApp.Models;

<h1> Products List </h1>
<hr/>

@{
    //List<Employee> employees=(List<Employee>)ViewData["employees"];
      List<Product> products = (List<Product>)ViewData["Products"]; 
        foreach(Product pr in products){
            <h5> @pr.ProdName</h5>
            <p>@pr.ProdID</p>
            <p>@pr.ProdDesc</p>
            <p>@pr.ProdPrice</p>   
        } 

        
        }